In [74]:
import matplotlib.pyplot as plt
import pandas as pd
import cv2

In [75]:
# Lê o arquivo de texto como um DataFrame
tabela = pd.read_csv("./iam_data/words.txt", sep=" ", header=None, names=["path", "value1", "value2", "value3", "value4", "value5", "value6", "value7", "labeling"], usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8], index_col=False)

In [76]:
tabela

,path,value1,value2,value3,value4,value5,value6,value7,labeling
0,a01-000u-00-00,ok,154,408,768,27,51,AT,A
1,a01-000u-00-01,ok,154,507,766,213,48,NN,MOVE
2,a01-000u-00-02,ok,154,796,764,70,50,TO,to
3,a01-000u-00-03,ok,154,919,757,166,78,VB,stop
4,a01-000u-00-04,ok,154,1185,754,126,61,NPT,Mr.
...,...,...,...,...,...,...,...,...,...
75599,r06-143-04-06,ok,186,1323,1428,64,77,PP3O,him
75600,r06-143-04-07,ok,186,1458,1469,36,52,IN,in
75601,r06-143-04-08,ok,186,1532,1445,73,72,ATI,the
75602,r06-143-04-09,ok,186,1654,1444,199,114,NN,garden
75603,r06-143-04-10,ok,186,1892,1453,36,66,?,?

In [77]:
tabela.head()

,path,value1,value2,value3,value4,value5,value6,value7,labeling
0,a01-000u-00-00,ok,154,408,768,27,51,AT,A
1,a01-000u-00-01,ok,154,507,766,213,48,NN,MOVE
2,a01-000u-00-02,ok,154,796,764,70,50,TO,to
3,a01-000u-00-03,ok,154,919,757,166,78,VB,stop
4,a01-000u-00-04,ok,154,1185,754,126,61,NPT,Mr.

In [ ]:

# agora vou fazer um loop para salvar todas as imagens
for index, row in tabela.iterrows():
    
    # Lê o caminho da imagem
    loc = row["path"]
    part01 = loc.split("-")[0]
    part02 = part01 + "-" + loc.split("-")[1]
    
    # Lê a imagem
    image = cv2.imread("./iam_data/words/" + part01 + "/" + part02 + "/" + loc + ".png")
    plt.imshow(image)
    
    # Adiciona o nome acima do gráfico
    plt.text(20, -2, row["labeling"], color='red', fontsize=20)
    
    #salvar imagem
    plt.savefig(f'./imagens/{loc}.png')
    
    # Limpar o gráfico atual
    plt.clf();